{
    "discord_token": "yourdiscordtokengoeshere",
    "lavalink": {
        "host": "127.0.0.1",
        "password": "yourpasswordgoeshere"
    },
    "database": {
        "url": "sqlite+aiosqlite:///example.db",
    }
}
